<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914184283594-km288aq6frkc4asitfe18gi67ck9flpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914184283594-km288aq6frkc4asitfe18gi67ck9flpd</string>
	<key>API_KEY</key>
	<string>AIzaSyB2kI0cD-YqykdJ8-Od6fBBue2jRun9YD8</string>
	<key>GCM_SENDER_ID</key>
	<string>914184283594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mcelroy.ConvertTesting</string>
	<key>PROJECT_ID</key>
	<string>testing-314818</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-314818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914184283594:ios:2ac16dfc3e868e3a611b33</string>
</dict>
</plist>